body {
	background-color: #777;
	margin: 0;
	padding: 20px;
	font-family: monospace;
}
.table {
	width: 18%;
	height: 100px;
	background-color: #ccc;
	float: left;
	margin: 0px 1% 5% 0px;
	text-align: center;
}
#queue {
	width: 94%;
	height: 150px;
	background-color: #999;
	clear: both;
}
#next {
	margin-top: 10px;
}
.customer {
	width: 10%;
	height: 150px;
	float: left;
	text-align: center;
	outline: 1px solid black;
}